.student-table-container {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .student-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .student-table th,
  .student-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .student-table th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
  }
  
  .student-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .student-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  .student-form {
    display: flex;
    flex-direction: column; /* Đặt các phần tử theo chiều dọc */
    width: 198px;

    input {
      margin-bottom: 10px; /* Thêm khoảng cách dưới mỗi input */
    }
  }
  
  .input-group {
    display: flex; 
    flex-direction: column; /* Đặt các input theo chiều dọc */
    margin-bottom: 10px; /* Khoảng cách giữa các input và nhóm checkbox-button */
  }
  .checkbox-button-group {
  display: flex;
  justify-content: space-between; /* Căn chỉnh khoảng cách giữa checkbox và button */
  align-items: center; /* Căn chỉnh theo chiều dọc */
 margin-bottom: 10px;
}

  .checkbox-button-group label {
    margin-right: 10px; /* Khoảng cách giữa checkbox và button */
  }
  
  .checkbox-button-group button {
    margin-left: 10px; /* Khoảng cách giữa checkbox và button */
  }
  
  