.flex {
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    gap: 10px;              /* Tạo khoảng cách giữa các thẻ input */        /* Tạo khoảng cách cho toàn bộ container */
    width: 456px;
}
.checkbox-container {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc (nếu cần) */
}
  
.checkbox-container input {
    margin-right: 10px; /* Tạo khoảng cách giữa checkbox và nội dung */
}

.submit-container {
    display: flex;       /* Sử dụng Flexbox để sắp xếp theo chiều ngang */
    align-items: center; /* Căn giữa theo trục dọc (tùy chọn) */
    gap: 100px;           /* Khoảng cách giữa các phần tử */
}
.submit-button{
    background-color: rgb(83, 83, 231);
    color: white;
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 60px;
}

  