/* totalSelect.css */
.total-select-container {
    display: flex;       /* Sử dụng Flexbox để sắp xếp theo chiều ngang */
    align-items: center; /* Căn giữa theo trục dọc (tùy chọn) */
    gap: 100px;           /* Khoảng cách giữa các phần tử */
}
.title{
    font-size: 27px;
}
.Clear-button{
    background-color: rgb(83, 83, 231);
    color: white;
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 60px;
}